@import url("https://fonts.googleapis.com/css?family=Droid+Serif");
/**
 * variable
 * 
 */
/**
 * global style
 */
body {
  margin: 0;
  padding: 0;
  font-family: "Droid Serif", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 16px; } }

a {
  color: #3cb371;
  text-decoration: none;
  transition: .3s all; }
  a:hover {
    transition: .3s all;
    color: #e74c3c; }

.title {
  font-size: 1.5em;
  color: #e74c3c; }
  .title:hover {
    color: #bf2718; }

.subtitle {
  font-size: 1.25em;
  color: #d3d3d3; }

.container {
  width: 80%;
  margin: auto; }
  @media screen and (max-width: 768px) {
    .container {
      width: 95%; } }

::-moz-selection {
  background: #e74c3c;
  color: white; }

::selection {
  background: #e74c3c;
  color: white; }

ul {
  margin: 0;
  padding: 0; }

/**
 * Header style
 */
header {
  padding: 20px 0 0 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }

nav {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    nav {
      display: block; } }
  nav .left_nav p {
    margin: 0.5em 0; }
  @media screen and (max-width: 768px) {
    nav .left_nav {
      margin: 0; } }
  nav .right_nav {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      nav .right_nav {
        display: block;
        text-align: center; } }
    nav .right_nav ul li {
      display: inline-block; }
      @media screen and (max-width: 768px) {
        nav .right_nav ul li {
          display: block; } }
      nav .right_nav ul li a {
        font-size: 1.5em;
        display: inline-block;
        padding: 1em; }
        @media screen and (max-width: 768px) {
          nav .right_nav ul li a {
            display: block;
            padding: 0.5em; } }
        nav .right_nav ul li a:hover {
          color: crimson;
          text-decoration: underline; }
      nav .right_nav ul li.active a {
        color: #2f8d59; }

/**
 * Content
 */
.content {
  padding: 20px; }

.section-title {
  font-size: 1.5em;
  color: orange;
  border-bottom: 1px solid orange;
  padding-bottom: 0.5em;
  text-align: center; }

ul.class-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.class-list li {
    margin-bottom: 1.5em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }
    ul.class-list li a {
      color: #1abc9c;
      padding: 1em;
      display: block; }
      ul.class-list li a:hover {
        text-decoration: underline;
        color: crimson;
        margin-left: 10px; }

/**
  * Footer
  */
footer {
  padding: 40px 20px;
  color: #7f8c8d;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2); }
  footer .footer-first {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      footer .footer-first {
        display: block; } }
  footer ul li {
    display: inline-block;
    margin: 0 1em; }
    @media screen and (max-width: 768px) {
      footer ul li {
        display: block;
        margin: 0.5em 0; } }
    footer ul li a {
      display: inline-block;
      color: #4e5758; }
      footer ul li a i {
        color: #7f8c8d; }
